.title {
  margin: 0 auto;
  text-align: center;
}

.grid {
  font-size: 40px;
  margin: 0 auto;
}

.grid, td {
  padding: 10px;
}

.string {
  margin: 0 auto;
  text-align: center;
}

.typing {
  margin: 0 auto;
  text-align: center;
}

