.title {
  margin: 0 auto;
  text-align: center;
}

.grid {
  font-size: 40px;
  margin: 0 auto;
}

.string {
  margin: 0 auto;
  text-align: center;
}

.typing {
  margin: 0 auto;
  text-align: center;
}

.grid td {
  position: relative;
  width: 80px;
  height: 80px;
  padding: 0 15px 0 15px;
  outline: 1px solid #ccc;
  text-align: center;
}

.red {
  color: red;
}

.black {
  color: black;
}
